div.spacer {
    background-color: #8FC73E;
    height: 1em;
}
 
div#navbar {
    background-color: #8FC73E;
    padding: 10px 0;
}

div#navbar ul {
	list-style: none;
	display: block;
	margin: 0 10px;
}

div#navbar ul li {
	float: left;
	margin: 0 1.5em;
	font: bold 1em Helvetica;
}

div.topSection div {
	border: solid 10px #e5e5e6;
	height: 320px;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.topSection div img {
	width: 360px;
	height: 320px;
}

div#footer {
	background-color: #e5e5e6;
}

.title {
	color: blue;
	text-align: center;
	font-size: 1.5em;
	font-family: helvetica;
	margin: auto;
}

